{% extends "layout.html" %}
{% block content %}
{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
{% elif field.flags.error %}
<div>
{% else %}
<div>
{% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}

<div>
  <div>
    <h2> {{ title }} </h2>
    <div class="card {{inpanel['type']}} mb-3">
      <div class="card-header">{{inpanel['title']}} </div>
      <div class="card-body">
      {% if inpanel['content'] is string %}
        {{inpanel['content']}}
      {% else %}
        {% for line in inpanel['content'] %}
          {{line}}<BR>
        {% endfor %}
      {% endif %}
      <form id="downloadForm" method="POST" action="{{url_for('.download_from_editor')}}" target= "_blank" accept-charset="UTF-8" enctype="multipart/form-data">
        {{ form.downloadform.csrf_token }}
        {{ form.downloadform.posttable }}  
        Download this JSON and continue editing: <button type="submit" class="btn btn-primary downloadJSON" >Download</button>
      </form>
      <form id="sendForm" method="POST" action="{{url_for('.store_from_editor')}}" accept-charset="UTF-8" enctype="multipart/form-data">
        {{ form.sendform.csrf_token }}
        {{ form.sendform.posttable }}  
        Finish editing and store this JSON: <button type="submit" class="btn btn-primary storeJSON" >Finish</button>
      </form>
      </div>
    </div>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div class="alert alert-danger" role="alert">
    {% for error in errors %}
    {{ error }}<br>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    {% for field, error in form.errors.items() %}
    {% for e in error %}
    {{ e }}<br>
    {% endfor %}
    {% endfor %}
    </div>
    {% endif %}
    {% if html %}
    <div> {{ html}} </div>
    {% endif %}
    <BR>
    <div id="jsoneditor" style="width: 100%;height: 500px;"></div>

    <script>
      {% if cid %}
      // templates and schemes for config mode
      var templates = [
            {
                text: 'action',
                title: 'Insert an Action Node',
                className: 'jsoneditor-type-object',
                field: 'ActionTemplate',
                value: {
                    'filters': {},
                    'params': {}
                }
            },
            {
                text: 'actions-block',
                title: 'Insert the Actions Node',
                field: 'actions',
                value: {
                    'action1': { 
                        'filters': {},
                        'params': {}
                    }
                }
            },
            {
                text: 'comments-block',
                title: 'Insert the Comments Node',
                field: 'comments',
                value: {
                    'author': '',
                    'decription': '',
                    'version': '',
                    'usage': [],
                    'params': {}
                }
            },
            {
                text: 'info-block',
                title: 'Insert the Info Node',
                field: 'info',
                value: {
                    'action1': { 
                        'params': {}
                    }
                }
            },
            {
                text: 'cfgformat-node',
                title: 'Insert the cfgformat Node',
                field: 'cfgformat',
                value: '{{cfgformat}}'
            }
        ];
      var schema = {
        "title": "module config",
        "type": "object",
        "properties": {
          "actions": {
            "$ref": "actions"
          },
          "comments": {
            "$ref": "comments"
          }
          ,
          "cfgformat": {
            "$ref": "cfgformat"
          }
        },
        "required": ["actions", "comments", "cfgformat"]
      };
    
      var action = {
        "type": "object",
        "required": ["filters", "params"],
        "properties": {
          "filters": {
            "type": "object"
          },
          "params": {
            "type": "object"
          }
        }
      };
    
      var actions = {
        "title": "actions",
        "type": "object",
        "minProperties": 1,
        "patternProperties": {
          "$": { "$ref": "action" }
        }
      };
    
      var comments = {
        "title": "comments",
        "type": "object",
        "required": ["author", "version", "description"],
        "properties": {
          "author": {
            "type": "string"
          },
          "decription": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        }
      };
      var cfgformat = {
        "title": "cfgformat",
        "type": "string"
      };
      
      var schemaRefs = {"comments": comments, "actions": actions, "action": action, "cfgformat": cfgformat};
      {% endif %}

      {% if mid %}
      // templates and schemes for meta mode
      var templates = [
            {
                text: 'result',
                title: 'Insert an Result Node',
                className: 'jsoneditor-type-object',
                field: 'ResultName',
                value: {
                    'display_name': "",
                    'display_level': 0,
                    'display_position': 0,
                    'description': "",
                    'decimals': null,
                    'units': "",
                    'constraint_is_active': false
                }
            },
            {
                text: 'minlowhighmax',
                title: 'Insert a minlowhighmax constraint',
                className: 'jsoneditor-type-object',
                field: 'constraint_minlowhighmax',
                value: [
                  null,
                  null,
                  null,
                  null
                ]
            },
            {
                text: 'refminlowhighmax',
                title: 'Insert a refminlowhighmax constraint',
                className: 'jsoneditor-type-object',
                field: 'constraint_refminlowhighmax',
                value: [
                  null,
                  null,
                  null,
                  null,
                  null
                ]
            },
            {
                text: 'equals',
                title: 'Insert a equals constraint',
                className: 'jsoneditor-type-object',
                field: 'constraint_equals',
                value: null
            },
            {
                text: 'period',
                title: 'Insert a period constraint',
                className: 'jsoneditor-type-object',
                field: 'constraint_period',
                value: 14
            },
    
            {
                text: 'results-block',
                title: 'Insert the Results Node',
                field: 'results',
                value: {
                    'ResultName': {
                        'display_name': "",
                        'display_level': 0,
                        'display_position': 0,
                        'description': "",
                        'decimals': null,
                        'units': "",
                        'constraint_is_active': false
                    }
                  }
            },
            {
                text: 'comments-block',
                title: 'Insert the Comments Node',
                field: 'comments',
                value: {
                    'author': '',
                    'decription': '',
                    'version': '',
                }
            },
            {
                text: 'metaformat',
                title: 'Insert the metaformat Node',
                field: 'metaformat',
                value: '{{metaformat}}'
            }
        ];
    
      var schema = "";
      var schemaRefs = "";
      {% endif %}
    
      var options = {
        mode: 'tree',
        modes: ['tree', 'code'],
        templates: templates,
        schema: schema,
        schemaRefs: schemaRefs
      };
    
      // create the editor
      var container = document.getElementById('jsoneditor');
      var editor = new JSONEditor(container, options, {{ json }});
      editor.expandAll();
    
      // Download a JSON document
      $('#downloadForm').submit(function() {
          var data = {};
          data['fname'] = "{{fname}}";
          data['json'] = editor.getText();
          $('input#downloadform-posttable').val( JSON.stringify(data) );
        return true;
      });
      // Store a JSON document
      $('#sendForm').submit(function() {
          var data = {};
          {% if cid %}
          data['cid'] = {{cid}};
          {% endif %}
          {% if mid %}
          data['mid'] = {{mid}};
          {% endif %}
          data['json'] = editor.getText();
          $('input#sendform-posttable').val( JSON.stringify(data) );
        return true;
      });
    </script>
  </div>
</div>
{% endblock %}
