{% extends "layout.html" %}
{% block content %}
{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
{% elif field.flags.error %}
<div>
{% else %}
<div>
{% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}

{% if form.gid.data %}
<script>
jQuery(function () {
    // remove the below comment in case you need change on document ready
    // location.href=jQuery("#config").val(); 
    jQuery("#config").change(function () {
        location.href = '?gid='+jQuery("#gid").val()+'&cid='+jQuery(this).val();
    })
})
</script>
{% endif %}
<div>
  <div>
    <h2> {{ title }} </h2>
    <div class="card panel-info mb-3">
      <div class="card-header">info
      </div>
      <div class="card-body">
        {% if msg is string %}
          {{msg}}
        {% else %}
          {% for line in msg %}
            {{line}}<BR>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div class="alert alert-danger" role="alert">
    {% for error in errors %}
    {{ error }}<br>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    {% for field, error in form.errors.items() %}
    {% for e in error %}
    {{ e }}<br>
    {% endfor %}
    {% endfor %}
    </div>
    {% endif %}
    <form method="POST" action="{{action}}" accept-charset="UTF-8" role="form">
      {{ form.csrf_token }}
      <TABLE>
      <TR>
        <TD>{{ form.name.label }}:</TD>
        <TD>{{ form.name(style="width:64ch") }}</TD>
      </TR><TR>
        <TD>{{ form.isactive.label }}:</TD>
        <TD>{{ form.isactive }}</TD>
      </TR><TR>
        <TD>{{ form.description.label }}:</TD>
        <TD>{{ form.description(style="width:64ch") }}</TD>
      </TR><TR>
        <TD>{{ form.module_config.label }}:</TD>
        <TD>{{ form.module_config(style="width:64ch") }}</TD>
      </TR><TR>
        <TD>{{ form.gid }}</TD>
        <TD>{{ form.cid }}</TD>
      </TR><TR>
        <TD>{{ form.currentname }}</TD>
      </TR>
      </TABLE>
      {% if form.gid.data %}
      <div >
        <TABLE class="divgrey">
        <TH>Tag</TH><TH>Logic</TH><TH>Value0</TH><TH>Value1</TH><TH>Value2</TH><TH>Value3</TH><TH>Value4</TH><TH>Delete</TH>
        {% for entry in form.rules %}
           <TR> <TD>{{ entry.tag }}</TD> <TD>{{ entry.logic }}</TD>
           <TD>{{ entry.value0 }}</TD>
           <TD>{{ entry.value1 }}</TD>
           <TD>{{ entry.value2 }}</TD>
           <TD>{{ entry.value3 }}</TD>
           <TD>{{ entry.value4 }}</TD>
           <TD>{{ entry.delrule }}{{ entry.ruleid }}</TD>
           </TR>
        {% endfor %}
        <TR><TD style="text-align:right;">{{ form.addnum.label }}</TD><TD>{{form.addnum(style="width:5ch")}}</TD></TR>
        </TABLE>
      </div>
      <br>
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header collapsed" id="headingOne" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             <a class="card-title">
               <span>&nbsp;&nbsp;</span>
                 runtime parameters
             </a>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              {{ btnFullConfig }}
              {% for entry in form.actions %}
                {% if (entry.params | count) >0 %}
                <div class="divgrey"><b><i><span style="text-transform: uppercase">{{ entry.action }} {{entry.action.data}}</span></i></b>
                <TABLE class="divgrey">
                <TH>Parameter</TH><TH>Value</TH><TH>Info</TH>
                {% for param in entry.params %}
                   <TR>
                   <TD style="padding-left:{{2*param.pindent.data}}ch"> {{ param.pname.data }} </TD>
                   {% if param.pvalue.data is none %}
                   <TD> </TD> 
                   {% else %}
                   <TD> {{ param.pvalue }} {{param.ptrail}}</TD> 
                  {% endif %}
                   <TD> {{ param.pinfo.data }} </TD>
                   </TR>
                {% endfor %}
                </TABLE>
                </div>
                <BR>
                {% endif %}  
              {% endfor %}
            </div>
          </div>
        </div> <!-- end of card -->
        <div class="card">
          <div class="card-header collapsed" id="headingTwo" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
             <a class="card-title">
             <span>&nbsp;&nbsp;</span>
                 constraints for results
             </a>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
            {{ btnFullMeta }}
            <div>
              <TABLE  class="divgrey">
              <TH>Result</TH><TH>Equals</TH>
              {% for entry in form.equals %}
                 <TR> <TD>{{ entry.lim_name.data }} {{ entry.lim_name }}</TD> 
                 <TD>{{ entry.lim_val }} </TD></TR>
              {% endfor %}
              </TABLE>
            </div>
            <br>
            <div>
              <TABLE  class="divgrey">
              <TH>Result</TH><TH>Min</TH><TH>Low</TH><TH>High</TH><TH>Max</TH>
              {% for entry in form.minlowhighmaxs %}
                 <TR> <TD>{{ entry.lim_name.data }} {{ entry.lim_name }}</TD> 
                 <TD>{{ entry.min_val }} </TD>
                 <TD>{{ entry.low_val }} </TD>
                 <TD>{{ entry.high_val }} </TD>
                 <TD>{{ entry.max_val }} </TD></TR>
              {% endfor %}
              </TABLE>
            </div>
            <br>
            <div>
              <TABLE  class="divgrey">
              <TH>Result</TH><TH>Ref</TH><TH>Min</TH><TH>Low</TH><TH>High</TH><TH>Max</TH>
              {% for entry in form.refminlowhighmaxs %}
                 <TR> <TD>{{ entry.lim_name.data }} {{ entry.lim_name }}</TD> 
                 <TD>{{ entry.ref_val }} </TD>
                 <TD>{{ entry.min_val }} </TD>
                 <TD>{{ entry.low_val }} </TD>
                 <TD>{{ entry.high_val }} </TD>
                 <TD>{{ entry.max_val }} </TD></TR>
              {% endfor %}
              </TABLE>
            </div>
            <br>
            <div>
              <TABLE  class="divgrey">
              <TH>Result</TH><TH>Period</TH>
              {% for entry in form.periods %}
                 <TR> <TD>{{ entry.lim_name.data }} {{ entry.lim_name }}</TD> 
                 <TD>{{ entry.lim_val }} </TD></TR>
              {% endfor %}
              </TABLE>
            </div>
            </div>
          </div>
        </div> <!-- end of card -->
      </div>
      {% endif %}
      <div>
        <button type="submit" name="submit">Submit</button>
      </div>
    </form>  
  </div>
</div>
{% endblock %}
