{% if href %}
    {% if _class %}
      {% if name %}
      <a role="{{type}}" name="{{name}}" class="{{_class}}" href="{{href}}">{{label}}</a>
      {% else %}
      <a role="{{type}}" class="{{_class}}" href="{{href}}">{{label}}</a>
      {% endif %}
    {% else %}
      {% if name %}
      <a href="{{href}}"><input type="{{type}}" name="{{name}}" value="{{label}}"></a>
      {% else %}
      <a href="{{href}}"><input type="{{type}}" value="{{label}}"></a>
      {% endif %}
    {% endif %}
{% else %}
    {% if _class %}
      {% if name %}
      <button type="{{type}}" name="{{name}}" class="{{_class}}">{{label}}</button>
      {% else %}
      <button type="{{type}}" class="{{_class}}">{{label}}</button>
      {% endif %}
    {% else %}
      {% if name %}
      <button type="{{type}}" name="{{name}}">{{label}}</button>
      {% else %}
      <button type="{{type}}">{{label}}</button>
      {% endif %}
    {% endif %}
{% endif %}
