{% if _class %}
  <table border="1" style="border: 1px solid #000000; border-collapse: collapse;" cellpadding="4" class="{{_class}}" id="{{_id}}" role="grid">
{% else %}
  <table border="1" style="border: 1px solid #000000; border-collapse: collapse;" cellpadding="4" id="{{_id}}" role="grid">
{% endif %}
{% if headers %}
  <thead>
  <tr role="row">
  {% for hd in headers %}
    <th>{{hd}}</th>
  {% endfor %}
  </tr>
  </thead>
{% endif %}
{% for row in rows %}
  <tr>
  {% for ro in row %}
    {% if ro is mapping %}
    <td bgcolor="{{ro['style']['bgcolor']}}">{{ro['value']}}</td>
    {% else %}
    <td>{{ro}}</td>
    {% endif %}
  {% endfor %}
  </tr>
{% endfor %}
</table>
