.collapsibleList li{
  list-style-image : url('none.gif');
  cursor           : auto;
}

li.collapsibleListOpen{
  list-style-image : url('button-open.gif');
  cursor           : pointer;
}

li.collapsibleListClosed{
  list-style-image : url('button-closed.gif');
  cursor           : pointer;
}
