{% macro nav_link(endpoint, name) %}
{% if request.endpoint.endswith(endpoint) %}
    <li class="nav-item  active"><a class="nav-link" href="{{ url_for(endpoint) }}">{{name}}</a></li>
{% else %}
    <li class="nav-item"><a class="nav-link" href="{{ url_for(endpoint) }}">{{name}}</a></li>
{% endif %}
{% endmacro %}

{% macro toggle_login_link(endpoint_login, label_login, endpoint_logout, label_logout) %}
{% if session.get('logged_in') %}
    <li class="nav-item" style="background-color:red; padding-top:7px; padding-bottom:7px; padding-left:10px; padding-right:10px">{{ session.get('rolename').strip() }}</li><li class="nav-item"><a class="nav-link" href="{{ url_for(endpoint_logout) }}">{{label_logout}}</a></li>
{% else %}
    <li class="nav-item"><a class="nav-link" href="{{ url_for(endpoint_login) }}">{{label_login}}</a></li>
{% endif %}
{% endmacro %}
